<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h3 class="page-header">Error</h3>
    <h4 class="text-danger">An error occurred while processing your request.</h4>
    <h4 class="text-primary"><a href="~/Account/Login" class="text-primary">Ga naar beginpagina &raquo;</a></h4>
</body>
</html>
